<div class="main-content">
    <div class="container-fluid">
        <!-- montecarlopi -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-atom-black">
                        <h4 class="card-title">Monte Carlo Pi</h4>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12">
                                <input type="text" value="" placeholder="Number of Tosses" [formControl]="numTosses" />
                                <button class="btn btn-info" (click)="atomizeMonte(numTosses.value)">Atomize</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="text-atom-black">RESULTS</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-content table-responsive table-full-width">
                                <table class="table">
                                    <thead class="text-atom-black">
                                        <th>ID</th>
                                        <th>ATOM ID</th>
                                        <th>START TIME</th>
                                        <th>END TIME</th>
                                        <th>NUM TOSSES</th>
                                        <th>TOSSES IN</th>
                                        <th>PI</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let monte of montes">
                                            <td>{{monte.electronId}}</td>
                                            <td>{{monte.atomId}}</td>
                                            <td>{{monte.starttime}}</td>
                                            <td>{{monte.endtime}}</td>
                                            <td>{{monte.result.tosses}}</td>
                                            <td>{{monte.result.in}}</td>
                                            <td>{{monte.result.pi}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <notifier-container></notifier-container>
</div>